.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.col-span-1 { 
  grid-column: span 1 / span 1; 
}
.col-span-2 { 
  grid-column: span 2 / span 2; 
}
.col-span-3 { 
  grid-column: span 3 / span 3; 
}
.col-span-4 { 
  grid-column: span 4 / span 4; 
}

.gap-2 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-8 {
  gap: 2rem;
}

.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}

.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: flex-end;
}

.place-content-start {
  place-content: start;
}
.place-content-center {
  place-content: center;
}
.place-content-end {
  place-content: end;
}
.place-content-between {
  place-content: space-between;
}
.place-content-around {
  place-content: space-around;
}

.place-items-start {
  place-items: start;
}
.place-items-center {
  place-items: center;
}
.place-items-end {
  place-items: end;
}

.border {
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb; /* gray-300 */
}
.border-2 {
  border-width: 2px;
}
.border-4 {
  border-width: 4px;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-full {
  border-radius: 9999px;
}

.border-gray {
  border-color: #9ca3af;
}
.border-red {
  border-color: #ef4444;
}
.border-blue {
  border-color: #3b82f6;
}
.border-green {
  border-color: #10b981;
}
.border-yellow {
  border-color: #f59e0b;
}

.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #f3f4f6;
}
.bg-darkgray {
  background-color: #374151;
}
.bg-red {
  background-color: #ef4444;
}
.bg-blue {
  background-color: #3b82f6;
}
.bg-green {
  background-color: #10b981;
}
.bg-yellow {
  background-color: #f59e0b;
}
.bg-purple {
  background-color: #8b5cf6;
}
.bg-pink {
  background-color: #ec4899;
}

.text-sm {
  font-size: 0.875rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.875rem;
}

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}

.text-gray {
  color: #4b5563;
}
.text-red {
  color: #b91c1c;
}
.text-blue {
  color: #3b82f6;
}
.text-green {
  color: #10b981;
}
.text-yellow {
  color: #f59e0b;
}
.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-2 {
  margin: 0.5rem;
}
.m-4 {
  margin: 1rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.w-1\/4 {
  width: 25%;
}
.w-1\/3 {
  width: 33.3333%;
}
.w-1\/2 {
  width: 50%;
}
.w-2\/3 {
  width: 66.6667%;
}
.w-3\/4 {
  width: 75%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}

.w-4 {
  width: 1rem;
}
.w-8 {
  width: 2rem;
}
.w-16 {
  width: 4rem;
}
.w-32 {
  width: 8rem;
}
.w-64 {
  width: 16rem;
}

.h-1\/4 {
  height: 25%;
}
.h-1\/2 {
  height: 50%;
}
.h-3\/4 {
  height: 75%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.h-4 {
  height: 1rem;
}
.h-8 {
  height: 2rem;
}
.h-16 {
  height: 4rem;
}
.h-32 {
  height: 8rem;
}
.h-64 {
  height: 16rem;
}

